version: "3"

volumes:
  mysql:
  project:
  results:
  secrets:

services:
  mysql:
    image: boinc/server_mysql:latest
    build: images/mysql
    network_mode: bridge
    volumes:
     - "mysql:/var/lib/mysql"
    environment:
       - BOINC_USER
       - PROJECT

  makeproject:
    image: boinc/server_makeproject:latest$TAG
    build: 
      context: images/makeproject
      dockerfile: Dockerfile$TAG
      args:
       - BOINC_USER
       - PROJECT_ROOT
    network_mode: bridge
    links: 
     - mysql
    volumes:
     - "project:$PROJECT_ROOT.dst"
     - "secrets:/home/$BOINC_USER/secrets"
    hostname: makeproject
    environment:
     - URL_BASE
     - PROJECT
     - PROJECT_ROOT

  apache:
    image: boinc/server_apache:latest$TAG
    build: 
      context: images/apache
      dockerfile: Dockerfile$TAG
      args:
       - BOINC_USER
       - PROJECT_ROOT
    hostname: $PROJECT
    network_mode: bridge
    links:
     - mysql
    volumes: 
     - "project:/home/boincadm/project"
     - "results:/results"
     - "/var/run/docker.sock:/var/run/docker.sock"
     - "secrets:/home/$BOINC_USER/secrets"
    ports: 
     - "80:80"
    tty: true
    working_dir: $PROJECT_ROOT
    environment:
     - URL_BASE
     - PROJECT
