version: "3"

volumes:
  mysql:
  project:
  results:

services:
  mysql:
    image: boinc/server_mysql:latest
    build: images/mysql
    network_mode: bridge
    volumes:
     - "mysql:/var/lib/mysql"
    environment: 
     - MYSQL_ROOT_PASSWORD=
     - MYSQL_ALLOW_EMPTY_PASSWORD=yes

  makeproject:
    image: boinc/server_makeproject:latest$TAG
    build: 
      context: images/makeproject
      dockerfile: Dockerfile$TAG
    network_mode: bridge
    links: 
     - mysql
    volumes:
     - "project:/root/project.dst"
    environment:
     - URL_BASE=$URL_BASE
     - PROJECT=$PROJECT

  apache:
    image: boinc/server_apache:latest$TAG
    build: 
      context: images/apache
      dockerfile: Dockerfile$TAG
    hostname: $PROJECT
    network_mode: bridge
    links:
     - mysql
    volumes: 
     - "project:/root/project"
     - "results:/results"
     - "/var/run/docker.sock:/var/run/docker.sock"
    ports: 
     - "80:80"
    tty: true
    environment:
     - URL_BASE=$URL_BASE
     - PROJECT=$PROJECT
